@mixin minmeduim {
    @media (min-width:922px) {
         @content;
    }
    
}

@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        
        #{ '-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin animations($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}