$max-mobile:"(max-width:767px)";
$min-small:"(min-width:768px)";
$min-medium:"(min-width:992px)";
$min-large:"(min-width:1200px)";
$maincolor:rgba(240, 72, 72, 0.89);
$secondcolor:#e2e2e2;
$floatleft:left;
$floatright:right;
$text-left:left;
$text-right:right;