.footer{
    background-color: $secondcolor;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    overflow: hidden;
    color: #644;
    .gallery,.info,.contact{
        float: $floatleft;
    }
    .gallery{
        padding-right: 30px;
        @media #{$max-mobile} {
            width: 100%;
        }
        @media #{$min-small} {
            width: 100%;
        }
        @media #{$min-medium} {
            width: 50%;
        }
        .footer-box{
            .imgg{
                float: $floatleft;
                width: 150px;
                height: 150px;
                border: 1px solid #666;  
                padding: 5px;
                background-color: #fff;   
                margin-right: 3%;
                img{
                    width: 100%;
                    height: 100%;
                    }    
                }
            .cont{
                h4{
                    padding: 0;
                    margin-bottom: 10px;
                    color: $maincolor;
                }
                p{
                    margin-top: 0;
                    line-height: 1.6;
                  
                }
            }
        }
    }
    .info{
        padding-right: 30px;
        @media #{$max-mobile} {
            width: 100%;
        }
        @media #{$min-small} {
            width: 50%;
            margin-top: 30px;
        }
        @media #{$min-medium} {
            width: 25%;        
        }
        div{
            margin-bottom: 30px;
            p{
                font-size: 16px;
                margin: 4px  0;
                line-height: 1.3;
            }
        }
    }
    .contact{
            @media #{$max-mobile} {
                width: 100%;
            }
            @media #{$min-small} {
                width: 50%;
                margin-top: 30px;
            }
            @media #{$min-medium} {
                width: 25%;        
            }        
        form{
            input{
                width: 100%;
                height: 40px;
                padding: 5px 5px 5px 10px;
                margin-bottom: 10px;
                text-transform: capitalize;
                border: none;
                outline: none;
                border-radius: 5px;
            }
            textarea{
                height: 170px;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                padding: 10px 5px 5px 10px;
                text-transform: capitalize;
            }
        }
    }
    h3{
        color: #666;
        margin-bottom: 20px;

    }
}